<?xml version="1.0" encoding="utf-8"?>
<robot name="panther" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_gpu" default="false" />
  <xacro:arg name="dual_bat" default="false" />
  <xacro:arg name="imu_pos_x" default="0.169" />
  <xacro:arg name="imu_pos_y" default="0.025" />
  <xacro:arg name="imu_pos_z" default="0.092" />
  <xacro:arg name="imu_rot_r" default="0.0" />
  <xacro:arg name="imu_rot_p" default="0.0" />
  <xacro:arg name="imu_rot_y" default="-1.57" />
  <xacro:arg name="initial_latitude" default="52.57043675607938" />
  <xacro:arg name="initial_longitude" default="13.894228935241701" />
  <xacro:arg name="initial_heading" default="0.0" />
  <xacro:arg name="wheel_config_path" default="$(find panther_description)/config/WH01.yaml" />
  <xacro:arg name="simulation_engine" default="gazebo-classic" />
  <xacro:arg name="use_ros_control" default="false" />
  <xacro:arg name="use_gps" default="true" />
  <xacro:arg name="use_camera" default="true" />



  <xacro:include filename="$(find panther_description)/urdf/panther_macro.urdf.xacro" ns="husarion" />
  <xacro:husarion.panther_robot
    use_sim="$(arg use_sim)"
    dual_bat="$(arg dual_bat)"
    imu_pos_x="$(arg imu_pos_x)"
    imu_pos_y="$(arg imu_pos_y)"
    imu_pos_z="$(arg imu_pos_z)"
    imu_rot_r="$(arg imu_rot_r)"
    imu_rot_p="$(arg imu_rot_p)"
    imu_rot_y="$(arg imu_rot_y)"
    wheel_config_path="$(arg wheel_config_path)"
    simulation_engine="$(arg simulation_engine)"
    use_ros_control="$(arg use_ros_control)" />
    
  <!-- include file with definition of xacro macro of sensor -->
  <xacro:include filename="$(find ros_components_description)/urdf/slamtec_rplidar_s1.urdf.xacro" ns="lidar" />

  <!-- evaluate the macro and place the sensor on robot -->
  <xacro:lidar.slamtec_rplidar_s1
  parent_link="cover_link"
  xyz="0.0 0 0.5"
  rpy="0.0 0.0 3.1415926"
  use_gpu="true"
  tf_prefix="front" 
  topic="scan" 
  simulation_engine="$(arg simulation_engine)" />

  <!-- Realsense Camera Primary and Secondary -->
  <!-- <xacro:arg name="realsense_enabled"             default="$(optenv PANTHER_REALSENSE_ENABLED 0)" />
  <xacro:arg name="realsense_model"               default="$(optenv PANTHER_REALSENSE_MODEL d435)"/>
  <xacro:arg name="realsense_topic"               default="$(optenv PANTHER_REALSENSE_TOPIC realsense)" />
  <xacro:arg name="realsense_prefix"              default="$(optenv PANTHER_REALSENSE_PREFIX camera)" />
  <xacro:arg name="realsense_parent"              default="$(optenv PANTHER_REALSENSE_PARENT cover_link)" />
  <xacro:arg name="realsense_xyz"                 default="$(optenv PANTHER_REALSENSE_XYZ 0.39 0 0.597)" />
  <xacro:arg name="realsense_rpy"                 default="$(optenv PANTHER_REALSENSE_RPY 0 0.314 0)" />
  <xacro:property name="realsense_model"          value="$(arg realsense_model)"/> -->

  <xacro:if value="$(arg use_gps)">
    <xacro:include filename="$(find ros_components_description)/urdf/external_antenna.urdf.xacro" ns="antenna" />
    <xacro:antenna.external_antenna
        parent_link="base_link"
        frame_id="gps_link"
        xyz="0.0 0.0 0.6"
        rpy="0.0 0.0 0.0" 
        initial_latitude="$(arg initial_latitude)"
        initial_longitude="$(arg initial_longitude)"  
        initial_heading="$(arg initial_heading)"/>
  </xacro:if>

  <!-- <xacro:include filename="$(find ros_components_description)/urdf/intel_realsense.urdf.xacro"/>

  <xacro:if value="$(arg realsense_enabled)">
    <xacro:realsense_sensor rs_model="$(arg realsense_model)"
                            prefix="$(arg realsense_prefix)"
                            parent="$(arg realsense_parent)"
                            topic="$(arg realsense_topic)"
                            include="$(arg realsense_enabled)">
      <origin xyz="$(arg realsense_xyz)" rpy="$(arg realsense_rpy)"/>
    </xacro:realsense_sensor>
  </xacro:if> -->
  <xacro:if value="$(arg use_camera)">
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <xacro:arg name="add_plug" default="true" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    
  <!--   <link name="base_link" /> -->
    <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
      <origin xyz="0.39 0 0.597" rpy="0 0.314 0"/>
    </xacro:sensor_d435>
  </xacro:if>
  <!-- <xacro:include filename="$(find ros_components_description)/urdf/omron_os32c.urdf.xacro" ns="omron_os32c" />
  <xacro:omron_os32c.omron_os32c
    parent_link="body_link"
    xyz="0.557 -0.415 0.002"
    rpy="${pi} 0 ${pi*1.75}"
    frame_id="base_laser_link_front"
    topic="$(arg namespace)scan_front"
    simulation_engine="$(arg simulation_engine)"/>
  <xacro:omron_os32c.omron_os32c
    parent_link="body_link"
    xyz="-0.557 0.415 0.002"
    rpy="${pi} 0 ${pi*0.75}"
    frame_id="base_laser_link_back"
    topic="$(arg namespace)scan_back"
    simulation_engine="$(arg simulation_engine)"/>
  
  <joint name="base_laser_link_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.065" rpy="0.0 0.0 0.0" />
    <parent link="body_link" />
    <child link="base_laser_link" />
  </joint>

  <link name="base_laser_link" />   -->
</robot>